# ==============================
# Environment Files
# ==============================

.env
.env.*
!.env.example


# ==============================
# Python Files
# ==============================

__pycache__/
*.py[cod]
*.pyo


# ==============================
# Virtual Environment
# ==============================

.venv/
venv/


# ==============================
# Development Files
# ==============================

.pytest_cache/
.mypy_cache/
.ruff_cache/


# ==============================
# IDE Files
# ==============================

.vscode/
.idea/


# ==============================
# Git
# ==============================

.git/
.gitignore